@tailwind base;
@tailwind components;
@tailwind utilities;

.dotline {
  @apply ml-2 mr-5 mt-2 flex justify-stretch font-serif;
}

.dotline::before {
  --tw-content: "•";
  content: var(--tw-content);

  @apply -ml-2 text-3xl;
  line-height: 10px;
  color: rgb(185, 28, 28);
}

.dotline::after {
  --tw-content: "•";
  content: var(--tw-content);
  @apply -ml-1 text-4xl;
  line-height: 10px;
  color: rgb(185, 28, 28);
}

@layer base {
  
  #map .ya-gray-pane{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  @font-face {
    font-family: "ristretto";
    src:
      url("/assets/ristretto_pro_bold.woff2") format("woff2"),
      url("/assets/ristretto_pro_bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "ristretto";
    src:
      url("/assets/ristretto_pro.woff2") format("woff2"),
      url("/assets/ristretto_pro.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "ristretto";
    src:
      url("/assets/ristretto_pro_light.woff2") format("woff2"),
      url("/assets/ristretto_pro_light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
  }

  @media only screen {
    main article.about {
      background-position: bottom right 45%;
      background-repeat: no-repeat;
      background-size: auto 117%;
      background-image: url("/assets/back_hd.jpg");
    }
    main article.info {
      background-color: #fff;
      background-position: bottom 20px right 45%;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("/assets/back_2_hd.jpg");
    }
    main article.info nav {
      background-position-x: right;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("/assets/diz_hd.png");
    }
  }

  @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 800px),
    (min-resolution: 192dpi) and (min-width: 800px),
    (min-width: 1900px) {
    main article.about {
      background-image: url("/assets/back_fd.jpg");
    }
  }

  @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 1900px),
    (min-resolution: 192dpi) and (min-width: 1900px),
    (min-width: 3000px) {
    main article.about {
      background-image: url("/assets/back_4k.jpg");
    }
  }
}
